<meta property="fb:admins" content="{{ site.facebook }}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:title" property="og:title" content="{{ page.title }} « {{ site.name }}">
<meta name="twitter:url" property="og:url" content="{{ site.url }}{{ page.url || remove: 'index.html' }}">
<meta name="twitter:image" property="og:image" content="{{ site.img.base }}{{ site.img.og }}{% if page.feature %}{{ page.feature }}{% else %}{{ site.img.default }}{% endif %}">
<meta name="twitter:description" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
