$time-indent: 3.25em;

.archive {
  ol {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding-left: $time-indent;
    text-indent: -1 * $time-indent;
    margin-bottom: 0.5em;
  }

  time {
    color: v(ccl);
    z-index: -1;
    display: inline-block;
    position: relative;
    text-align: right;
    left: $time-indent / -10;
    min-width: $time-indent;
  }
}
