article {
	counter-reset: figure;
	position: relative;
	top: 0;
	left: 0;

	header {
		h3 {
			@extend %weight-normal;
			font-style: italic;
			margin-top: 0;
		}

		.meta {
			color: v(ccl);
			margin-bottom: 0;

			& + a h2 {
				margin-top: 0;
			}
		}

		h2 {
			margin-bottom: 0;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	p {
		@extend %hyphenated;
		clear: both;
	}

	aside, .fig figcaption {
		@extend %hyphenated;

		@media (min-width: 900px) {
			width: 30%;
			float: left;
			height: 0;
			padding: 0;
			margin: 0;
			position: relative;
			top: 0;
			left: -33%;
			color: v(ccl);
		}
	}

	p code, aside code, figcaption code {
		@extend %dehyphenated;
	}

	.summary, .summary:visited {
		@extend %hyphenated;
		@extend %color-copy;
		display: block;
		text-decoration: none;
		min-height: 6em;
		max-height: 9em;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom, transparent 0%,rgba(v(cb-rgb), 1) 85%);
		}
	}

	img {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		display: block;
		padding: .25em;
		background: white;
		border: 1px solid v(cib);

		&.raw {
			border: 0;
			background: none;
		}
	}

	.fig {
		margin: 1em 0;
		text-align: center;

		figure {
			counter-increment: figure;
			text-align: center;
			display: inline-block;
			max-width: 100%;
			text-align: left;
		}

		figcaption {
			margin: 0;

			&::before {
				@extend %weight-bold;
				content: "Fig " counter(figure) ". ";
			}
		}
	}

	.disqus-link {
		@extend %color-link-hover;

		background: v(clf);

		text-decoration: none;
		text-align: center;
		display: block;
		margin: 0;

			&:hover, &:focus {
				@extend %color-background;
				background: v(cl);
			}
	}
}
