$font:
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol";

$monospace:
	"SFMono-Regular",
	Consolas,
	"Liberation Mono",
	Menlo,
	Courier,
	monospace;

$weight-normal: 300;
$weight-bold:   700;

$max-main-width: 720px;

$color-background:   #fcfcfc;
$color-background-rgb: red($color-background), green($color-background), blue($color-background);
$color-copy:         #1d1d1d;
$color-copy-rgb: red($color-copy), green($color-copy), blue($color-copy);
$color-link:         #536895;
$color-link-rgb:       red($color-link), green($color-link), blue($color-link);
$color-link-hover:     darken($color-link, 20%);
$color-link-visited:   $color-link;
$color-link-focus:     rgba($color-link, 0.25);
$color-logo:         rgba(0,0,0,0.15);
$color-image-border:   rgba($color-link, 0.1);

@function v($var) { @return var(--#{$var}); }

:root {
	--cb: #{$color-background};
	--cb-rgb: #{$color-background-rgb};
	--cc: #{$color-copy};
	--ccl: #{lighten($color-copy, 25%)};
	--cl: #{$color-link};
	--cl-rgb: #{$color-link-rgb};
	--clh: #{$color-link-hover};
	--clv: #{$color-link-visited};
	--clf: #{$color-link-focus};
	--clogo: #{$color-logo};
	--cib: #{$color-image-border};
}

@media (prefers-color-scheme: dark) {
	:root {
		--cb: #{$color-copy};
		--cb-rgb: #{$color-copy-rgb};
		--cc: #{$color-background};
		--ccl: #{darken($color-background, 25%)};
		--cl: #{lighten($color-link, 10%)};
		--clh: #{lighten($color-link, 20%)};
		--clf: #{rgba($color-link, 0.5)};
		--clogo: rgba(255, 255, 255, 0.15);
	}
}
