$serif: 'Merriweather', serif;
$sans-serif: 'Open Sans', sans-serif;
$monospace: 'Droid Sans Mono', monospace;

$weight-normal: 300;
$weight-bold: 700;

$color-background: #fcfcfc;
$color-copy: #1D1D1D;
$color-link: #944;
$color-link-visited: darken($color-link, 10%);
$color-logo: rgba(0,0,0,0.15);
