body > header {
	@extend %content-margins;
	@extend %flush-margins;
	transform: rotate(180deg);
	height: 2.25em;
	position: relative;
	line-height: 1;
}

.logo, .menu {
	@extend %sans-serif;
	@extend %weight-normal;

	display: block;
	font-size: 2.5em;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.menu {
	float: right;
}

.logo {
	@extend %color-logo;
	float: left;
}
