body > header {
	@include rotate(180deg);
	height: 2.5em;
	position: relative;
	top: -.25em;
	margin: 0;
	line-height: 1;
	padding: 0 .5em;
}

.logo, .menu {
	@extend %sans-serif;
	@extend %weight-normal;

	display: block;
	font-size: 2.5em;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
}

.menu { float: right; }
.logo { 
	@extend %color-logo;
	float: left; 
}
