%monospace  { font-family: $monospace; }

%weight-normal { font-weight: $weight-normal; }
%weight-bold   { font-weight: $weight-bold; }

%color-copy         { color: $color-copy; }
%color-link         { color: $color-link; }
%color-link-hover   { color: $color-link-hover; }
%color-link-visited { color: $color-link-visited; }
%color-logo         { color: $color-logo; }
%color-background   { color: $color-background; }

%background-color   { background: $color-background; }

%content-margins {
	margin: 0 1em;

	@media (min-width: 481px) {
		margin: 0 5%;
	}

	@media (min-width: 686px) {
		width: 61.8%;
		margin: 0 14.590% 0 auto;
	}
}

%flush-margins {
	@media (max-width: 480px) {
		margin: 0;
	}
}

%hyphenated {
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  -ms-hyphens:     auto;
  hyphens:         auto;
}

%dehyphenated {
  -webkit-hyphens: manual;
  -moz-hyphens:    manual;
  -ms-hyphens:     manual;
  hyphens:         manual;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
