@import "compass";


$phi: (1+sqrt(5)) / 2;
$factor: 1 / $phi;

$main-width: $factor;
$gutter: 1 - $main-width;
$large-gutter: $factor * $gutter;
$small-gutter: $gutter - $large-gutter;

$color-background: #f5f5f5;
$color-copy: #2D2D2D;

* { margin: 0; padding: 0; box-sizing: border-box; transform: translate3d(0, 0, 0);}

body { 
	font-size: 24px; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $color-copy;
	background: $color-background;
	text-shadow: 1px 0px 1px rgba(255,255,255,.25);
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 5em;
	width: 100% * $small-gutter;
	text-align: center;

	position: fixed;
	top: 1em;
 
}

main {
	position: absolute;
	top: 5em;
	left: 100% * $small-gutter;
	width: 100% * $main-width;

	// &:before {
	// 	content: '';
	// 	display: block;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	height: 5em;
	// 	background: transparent;
	// 	@include background-image(linear-gradient($color-background, transparentize($color-background, 1)));
	// }
}

article section p {
	font-size: 1em;
	line-height: $phi;
	margin: 1em 0;
}
