$size: 18px;
$base-size: 16px;

html {
	line-height: 1.5em;
	font-size: percentage($size / $base-size);

	@for $i from 1 through 10 {
		@media (min-width: 900px + $i * 200px) {
			$size: $size + 2px !global;
			test: $size;
			font-size: percentage($size / $base-size);
		}
	}
}
