$default-font-size: 18px;
$base-font-size: $default-font-size;
$base-line-height: $base-font-size * 1.5;
@include establish-baseline();

@for $i from 1 through 10 {
	$width: 900px + $i * 200px;
	@media (min-width: $width) {
		$base-font-size: $default-font-size + $i * 2px;
		$base-line-height: $base-font-size * 1.5;
		@include establish-baseline();
	}
}
