::selection {
	@extend %color-background;
	background: v(clv);
}

body {
	font-family: $font;

	@extend %weight-normal;
	@extend %color-copy;
	@extend %background-color;

	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.25;

	a:focus & { background: v(clf); }
}

a {
	@extend %color-link;
	-webkit-tap-highlight-color: v(clf);
	&:focus { background: v(clf); }
	&:hover { @extend %color-link-hover; }
	header & { text-decoration: none; }
}

b,strong { @extend %weight-bold; }

blockquote {
	position: relative;
	top: 0;
	left: 0;

	margin-left: 2em;
	margin-right: 2em;
	color: rgba(v(cl-rgb), 0.85);

	cite {
		display: block;
		text-align: right;
		&:before { content: "–"; }
	}

	&:before, &:after {
		font-size: 4em;
		position: absolute;
		opacity: .5;
	}
	&:before {
		content: "“";
		top: -.2em;
		left: -.75em;
	}
	&:after {
		content: "”";
		bottom: -.5em;
		right: -.75em;
	}
}

pre,code,abbr,acronym {
	@extend %monospace;
}

.gist {
	font-size: 0.75em;
	line-height: 1.5;
}

code {
	font-size: .85em;
	display: block;
	white-space: pre;
	overflow-x: scroll;
	background: rgba(v(cl-rgb), 0.075);
	margin-left: 1em;
	margin-right: 1em;
	padding: .5em 1em;

	h1 &, h2 &, h3 &, h4 &, h5 &, h6 &, p &, li &, aside &, figcaption & {
		display: inline;
		padding: 0 .25em;
		margin: inherit;
		white-space: inherit;
	}
}

strike, strike span, del, del span {
	color: v(ccl);
}

.fluff-strike {
	@extend %color-link;
}

aside, figcaption {
	font-size: 0.75em;
	font-style: italic;
	line-height: 1.5;
	margin: 1em auto;
	background: rgba(0, 0, 0, 0.05);
	padding: 0.5em;
}
