	</div>

	<footer class="container"><hr/>
		<p class="muted">&copy; {{ site.time | date: "%Y" }} Chris Roche. All rights reserved.</p>
	</footer>

	<script src="/resources/scripts/require.config.js"></script>
	<script data-main="app" src="/resources/scripts/require.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	var _gaq=[
		['_setAccount','UA-40222469-1'],
		['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js'],
		['_trackPageview']
	];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src='//www.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
