</main>

<footer>
	<nav role="navigation" id="nav">
		<a href="/">Home</a>
		<a href="/chris-roche/">About</a>
    <a href="/archive/">Archive</a>
    <div class="social">
      <a href="https://twitter.com/rodaine" aria-label="Twitter - @rodaine">{% include svg/twitter.svg %}</a>
      <a href="https://github.com/rodaine" aria-label="GitHub - @rodaine">{% include svg/github.svg %}</a>
      <a href="https://feeds.feedburner.com/rodaine" aria-label="RSS/Atom Feed - rodaine.com">{% include svg/rss.svg %}</a>
    </div>
	</nav>
</footer>

<script async defer src="/s.js"></script>
</body>
</html>
