<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/{% if page.schema %}{{ page.schema }}{% else %}WebPage{% endif %}">
<head>
{% include meta/basic.html %}
{% include meta/open-graph.html %}
{% include meta/disqus.html %}
{% include meta/links.html %}
{% include meta/styles.html %}
{% include meta/ga.html %}
</head>
<body>
<header role="banner">
	<a href="/"><h1 class="logo">Rodaine</h1></a>
	<a href="#nav" class="menu">menu</a>
</header> 

<main role="main">
