<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/{% if page.schema %}{{ page.schema }}{% else %}WebPage{% endif %}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta name="viewport"    content="width=device-width">
	<meta name="robots"      content="noindex,nofollow">

	<title>{{ page.title }} « {{ site.name }}</title>
	<meta name="author"      itemprop="author"      content="Chris Roche">
	<meta name="description" itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords"    itemprop="keywords"    content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

	<link rel="author"     href="/humans.txt"     type="text/plain">
	<link rel="search"     href="/opensearch.xml" type="application/opensearchdescription+xml" title="Rodaine Search Results">
	<link rel="alternate"  href="/feed.xml"       type="application/atom+xml"                  title="Rodaine Atom Feed" >
	
	<link rel="stylesheet" href="/resources/styles/screen.css">
</head>
<body>

	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="/" class="brand">{{ site.name }}</a>
				<nav class="nav-collapse collapse">
					<form class="navbar-search pull-right" method="GET" action="/search/">
						<input type="text" class="search-query" name="q" placeholder="Search">
					</form>
					<ul class="nav">
						<li><a href="/"><span class="icon-home"></span> Home</a></li>
						<li><a href="/chris-roche/"><span class="icon-user"></span> Chris Roche</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">	
