<div class="well sidebar-nav-list">
	<ul class="nav nav-list">
		<li class="nav-header"><span class="icon-bullhorn"></span> <strike>Anti-</strike>Social</li>
		<li><a href="http://www.github.com/rodaine/">
			<span class="icon-github"> GitHub</span>
		</a></li>
		<li><a href="http://stackoverflow.com/users/814693/rodaine">
			<span class="icon-stackoverflow"> Stack Overflow</span>
		</a></li>
		<li><a href="http://profiles.wordpress.org/rodaine/">
			<span class="icon-wordpress"> WordPress</span>
		</a></li>
		<li><a href="http://www.linkedin.com/pub/chris-roche/21/a94/491">
			<span class="icon-linkedin"> LinkedIn</span>
		</a></li>
		<li><a href="https://plus.google.com/u/1/106083414604718331836">
			<span class="icon-googleplus"> Google+</span>
		</a></li>
		<li><a href="http://www.twitter.com/rodaine/">
			<span class="icon-twitter"> @rodaine</span>
		</a></li>
	</ul>
</div>
