---
layout: interior
title: Talks & Presentations
---

<p>Below is a list of talks and presentations that I have done over the years. If you have any questions/feedback
	about the content or are interested in having me talk at your event, please don't hesitate to reach out!</p>

{% for talk in site.talks reversed %}
{% assign id = talk.relative_path | remove: ".md" | remove: "_talks/" | slugify: "ascii" %}
<article id="{{ id }}" itemscope itemtype="http://schema.org/Event">
	<header>
		<p class="meta">
			<time datetime="{{ talk.date | date_to_xmlschema }}" itemprop="startDate"
				pubdate>{{ talk.date | date_to_string }}</time>
			{% if talk.event %} @ <{% if talk.event-link %}a href="{{ talk.event-link}}" {% else %}span{% endif %}
				itemprop="superEvent">{{ talk.event }}</{% if talk.event-link %}a{% else %}span{% endif %}>{% endif %}
			{% if talk.slides %} · <a href="/talks/slides/{{ talk.slides }}" itemprop="recordedIn" itemscope
				itemtype="http://schema.org/PresentationDigitalDocument">Slides</a>{% endif %}
			{% if talk.video %} · <a href="{{ talk.video }}" itemprop="recordedIn" itemscope
				itemtype="http://schema.org/VideoObject">Video</a>{% endif %}
		</p>
		<a href="#{{ id }}">
			<h2 itemprop="name">{{ talk.title }}</h2>
		</a>
		{% if talk.description %}<h3 itemprop="alternateName">{{ talk.description }}</h3>{% endif %}
	</header>
</article>

<p></p>
{% endfor %}
