<div class="well recent-tracks">
	<h4><a href="#" class="icon-lastfm"> last.fm</a></h4>
	<div class="media loading">
		<a href="#" class="pull-left">
			<img class="media-object" src="http://placehold.it/64&text=last.fm" width="64" height="64" />
		</a>
		<div class="media-body">
			<h4 class="media-heading">
				<a href="#" class="track">Unknown Track</a>
			</h4>
			<p class="muted">
				<span class="artist">Unknown Artist</span><br/>
				<em class="timestamp">Playing Now</em>
			</p>
		</div>
	</div>
</div>
