@import 'bootstrap';
@import 'elusive';
@import 'layout';
@import 'last-fm';

.icon-googleplus { color: #dd4b39; }
.icon-twitter { color: #00a0d1; }
.icon-linkedin { color: #007bb6; }
.icon-github, .icon-wordpress { color: #333; }
.icon-stackoverflow { color: #f90; }
.icon-lastfm { color: #D51007; }

.center {
	margin: 0 auto;
	display: block;
}
