---
layout: base
---

<article role="article" itemscope itemtype="http://schema.org/BlogPosting">

<header>
{% include widgets/post-meta.html %}
{% include widgets/page-title.html %}
</header>

<section itemprop="articleBody">
{{ content }}
</section>

<section itemprop="comment" id="disqus_thread"></section>
<script>
	var disqus_shortname = "rodaine";
	var disqus_identifier = "{{ page.url || remove: 'index.html' }}";
	var disqus_url = "{{ site.url }}{{ page.url || remove: 'index.html' }}";

	(function() {
		var parent = document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0];
		var src_base = '//' + disqus_shortname + '.disqus.com/';

		var dsq = document.createElement('script'); 
		dsq.async = true;
		dsq.src = src_base + 'embed.js';
		parent.appendChild(dsq);

		var s = document.createElement('script'); 
		s.async = true;
    s.src = src_base + 'count.js';
    parent.appendChild(s);
	})();
</script>

</article>

{% if page.next.url or page.previous.url %}
<nav class="pagination post-nav">
	<ul>
		{% if page.previous.url %}<li class="direction"><a rel="next" class="next" href="{{page.previous.url}}">{{page.previous.title}}</a></li>{% endif %}
		{% if page.next.url %}<li class="direction"><a rel="prev" class="prev" href="{{page.next.url}}">{{page.next.title}}</a></li class="direction">{% endif %}
	</ul>
</nav>
{% endif %}
