---
layout: base
---

<article role="article" itemscope itemtype="https://schema.org/{% if page.content_schema %}{{ page.content_schema }}{% else %}BlogPosting{% endif %}">

<header>
{% include widgets/post-meta.html %}
{% include widgets/page-title.html %}
</header>

<section itemprop="{% if page.content_schema %}text{% else %}articleBody{% endif %}">
{{ content }}
</section>

<section id="disqus_thread">
  <a class="disqus-link" id="disqus_placeholder" itemprop="discussionUrl" href="https://disqus.com/home/forum/{{site.disqus}}">View <span class="disqus-comment-count" data-disqus-identifier="{{ page.url | remove: 'index.html' }}">Comments</span></a>
</section>

</article>

{% if page.next.url or page.previous.url %}
<nav class="pagination post-nav">
	<ul>
		{% if page.previous.url %}<li class="direction"><a rel="next" class="next" href="{{page.previous.url}}">{{page.previous.title}}</a></li>{% endif %}
		{% if page.next.url %}<li class="direction"><a rel="prev" class="prev" href="{{page.next.url}}">{{page.next.title}}</a></li class="direction">{% endif %}
	</ul>
</nav>
{% endif %}
